<H1>Search results:</H1>


<br>
<br>


{{#each results}}

<div class="column is-4">
<div class="card medium">
    <header class="card-header">
        <p class="card-header-title">
          {{this.name}}
        </p>
    </header>
    <div class="card-image">
        <figure class="image">
          <img src={{this.img}} alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">

            <h6 class="title">
                {{#if this.location.venueName}}
                    {{this.location.venueName}} - 
                {{/if}}

                {{this.location.city}}, {{this.location.country}}
            </h6>

            <h6 class="title">
                <time datetime="2016-1-1">
                    {{this.dateAndTime.date}} 
                    {{#if this.dateAndTime.time}} - {{this.dateAndTime.time}} {{/if}}
                </time>
            </h6>


            
            <h5 class="title"></h5>

            
        </div>
    </div>
    <footer class="card-footer">
        <a id="save-button" href="#" class="card-footer-item">Save</a>

        {{#if this.urlForTickets}}
        <a href={{this.urlForTickets}} class="card-footer-item">Buy Tickets</a>
        {{/if}}

        {{#if this.artistSiteUrl}}
        <a href={{this.artistSiteUrl}} class="card-footer-item">Artist's Page</a>
        {{/if}}

        {{#if (isOwner this.owner ../user)}}
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
        {{/if}}
    </footer>
</div>
</div>

{{/each}}
