<H1>Search results: </H1>

<br>
<br>


{{#each results}}

<div class="column is-4">
<div class="card medium">
    <header class="card-header">
        <p class="card-header-title">
          {{this.name}}
        </p>
    </header>
    <div class="card-image">
        <figure class="image">
          <img src={{this.img}} alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <h3 class="title">{{this.name}} - in {{this.location.city}}</h3>
            <h5 class="title"><time datetime="2016-1-1">{{this.dateAndTime.date}} {{#if this.dateAndTime.time}} - {{this.dateAndTime.time}} {{/if}}</time></h5>
            


            {{this.description}} <br>

            {{#if this.urlForTickets}}
            <a href="{{this.urlForTickets}}">Get tickets</a><br>
            {{/if}} 

            {{#if this.artistSiteUrl}}
            <a href="{{this.artistSiteUrl}}">Artist's page</a><br>
            {{/if}}
            

        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>
</div>

{{/each}}
